:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --footer-contacts: #ffffff 60%;
  --title-color: #ffffff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --logo-accent-color: #2196f3;
  --background-color-dark: #2f303a;
  --background-color-ligth: #ffffff;
  --background-color-medium: #f5f4fa;
  --border-color: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: var(--background-color-ligth);
}

.header {
}

.header-list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-accent {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.header-email:hover,
.header-email:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.promo-section {
  background-color: var(--background-color-dark);
}

.title-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-color);
}

.botton {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--first-text-color);
  background-color: var(--background-color-medium);
  border-color: transparent;
}

.botton:hover,
.botton:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.about-us-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.about-us-list {
  list-style-type: none;
}

.about-us-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.wwd-list {
  list-style-type: none;
}

.our-team {
  background-color: var(--background-color-medium);
}

.team-member-card {
  list-style-type: none;
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.team-member-speciality {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.footer {
  background-color: var(--background-color-dark);
}
.footer-list {
  list-style-type: none;
}

.adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts);
}

.footer-email {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts);
}

.portfolio-filter-list {
  list-style-type: none;
}

.project {
  border-color: var(--border-color);
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
